<!DOCTYPE html>
<html lang="en">
    <head><%- include ('partials/head') %></head>
    <body>
        <div class="ui segment">
            <h3><%= page %></h3>
            <form class="ui form">
                <div class="field">
                    <label>Type</label>
                    <select class="ui dropdown" id="url-dropdown">
                      <option value="0">Convert to short url</option>
                      <option value="1">Convert to long url</option>
                    </select>
                </div>

              <div class="field">
                <label>URL</label>
                <input type="text" name="url" placeholder="Enter URL" value="">
                <div id="resultContainer" class="ui message"></div>
              </div>
              
              <button type="reset" class="ui button">Reset</button>
              <button class="ui primary button" type="submit">Submit</button>
            </form>
        </div>
    </body>
    <%- include ('partials/script') %>
    <script language="javascript">
        const convertToShortUrl = async (longUrl) => {
            return await getRequest(`/convert/shorten/?url=${longUrl}`).then(res => {
                console.log(res);
                return res.data;
          });
        };

        const convertToLongUrl = async (shortUrl) => {
            return await getRequest(`/convert/lengthen/?url=${shortUrl}`).then(res => {
                console.log(res);
                return res.data;
          });
        };

        $('button[type="submit"]').click(async(e) => {
            e.preventDefault();
            
            const inputValue = $('input[name="url"]').val();
            const dropdownValue = $('#url-dropdown').val();

            if (dropdownValue === "0") {
                await convertToShortUrl(inputValue)
                .then(data => {
                    if (data.success) {
                        $('#resultContainer').attr('class', 'ui positive message');
                        $('#resultContainer').html(`<a href=${data.data} class="alert-link" target="_blank">` + data.data + `</a>`);
                    } else {
                        $('#resultContainer').attr('class', 'ui negative message');
                        $('#resultContainer').html(data.message);
                    }
                });
            }
            else {
                await convertToLongUrl(inputValue)
                .then(data => {
                    if (data.success) {
                        $('#resultContainer').attr('class', 'ui positive message');
                        $('#resultContainer').html(`<a href=${data.data} class="alert-link" target="_blank">` + data.data + `</a>`);
                    } else {
                        $('#resultContainer').attr('class', 'ui negative message');
                        $('#resultContainer').html(data.message);
                    }
                });
            }
        });

        $('button[type="reset"]').click(e => {
            $('#resultContainer').attr('class', 'ui message');
            $('#resultContainer').html('');
        });
    </script>
<html>