<!DOCTYPE html>
<html lang="en">
    <head><%- include ('partials/head') %></head>
    <body style="display: flex; align-items: center;">
        <div class="ui segment" style="width: 70%; margin: 0 auto;">
            <form class="ui form">
                <div class="field">
                    <label>Type</label>
                    <select class="ui dropdown" id="url-dropdown" style="width: auto;">
                      <option value="0">Convert to short url</option>
                      <option value="1">Convert to long url</option>
                    </select>
                </div>

              <div class="field">
                <label>URL</label>
                <input type="text" name="url" placeholder="Enter URL">
                <div id="longUrlContainer" class="alert alert-success" role="alert" style="margin: 1em 0;"></div>
              </div>
              
              <button type="reset" class="ui button">Reset</button>
              <button class="ui primary button" type="submit">Submit</button>
            </form>
        </div>
    </body>
    <%- include ('partials/script') %>
    <script language="javascript">
        const convertToShortUrl = async () => {
            return await getRequest('sample').then(res => {
                console.log(res);
                return res.data;
          });
        };

        $('button[type="submit"]').click(async(e) => {
            e.preventDefault();
            
            //console.log($('#url-dropdown').val());
            await convertToShortUrl()
            .then(data => {
                $('#longUrlContainer').html('<a href="#" class="alert-link" target="_blank">' + data + '</a>');
            });
        });

        $('button[type="reset"]').click(e => {
            $('#longUrlContainer').html('');
        });
    </script>
<html>