<!DOCTYPE html>
<html lang="en">
    <head><%- include ('partials/head') %></head>
    <body>
        <div class="container-fluid" style="padding-top: 0; max-width: 70%"> 
            <form>
                <h3><%= page %></h3>
                <div class="form-group">
                <label for="shortUrl">Convert to short url</label>
                    <input type="text" class="form-control" id="shortUrl" aria-describedby="longUrlContainer" placeholder="Enter long url">
                    <div id="longUrlContainer" class="alert alert-success" role="alert" style="margin: 1em 0;"></div>
                </div>
                <button type="reset" class="btn btn-secondary">Reset</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </body>
    <%- include ('partials/script') %>
    <script language="javascript">
        const convertToShortUrl = async () => {
            await getRequest('sample').then(res => {
                console.log(res);
                $('#longUrlContainer').html('<a href="#" class="alert-link" target="_blank">' + res.data + '</a>');
          });
        };

        $('button[type="submit"]').click(e => {
            e.preventDefault();
            convertToShortUrl();
        });

        $('button[type="reset"]').click(e => {
            $('#longUrlContainer').html('');
        });
    </script>
<html>